<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Vpn Server</th>
                <th>Event Type</th>
                <th>CommonName</th>
                <th>Local IP</th>
                <th>Remote IP</th>
                <th>Bytes Sent</th>
                <th>Bytes Received</th>
                <th>Duration</th>
                <th>EnteredOn</th>
            </tr>
        </thead>
        <tbody id="eventsTable">
            {{#Result}}
            <tr>
                <td>{{VpnServer}}</td>
                <td>{{TypeDescription}}</td>                
                <td>{{CommonName}}</td>
                <td>{{LocalIp}}</td>
                <td>{{RemoteIp}}</td>
                <td>{{BytesSentInMb}}</td>
                <td>{{BytesReceivedInMb}}</td>
                <td>{{Duration}}</td>
                <td>{{EnteredOn}}</td>
            </tr>
            {{/Result}}
        </tbody>
    </table>
    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="eventsPager"></ul>
    </div>
</div>