<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Certificates</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {{#Result}}
            <tr>
                <td>{{Firstname}}</td>
                <td>{{Lastname}}</td>
                <td>{{Email}}</td>
                <td>
                    <ol>
                        {{#Certificates}}
                        <li>{{CommonName}}</li>
                        {{/Certificates}}
                    </ol>
                </td>
                <td></td>
            </tr>
            {{/Result}}
        </tbody>
    </table>
    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="usersPager"></ul>
    </div>
</div>