<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Certificates</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="usersTable">
            {{#Result}}
            <tr>
                <td>{{Firstname}}</td>
                <td>{{Lastname}}</td>
                <td>{{Email}}</td>
                <td>
                    <ol>
                        {{#Certificates}}
                        <li>{{CommonName}}</li>
                        {{/Certificates}}
                    </ol>
                </td>
                <td>
                    <button class='btn btn-default' type="button" name="editUser" value="delete" rel="{{Email}}"><span></span> edit</button>
                    <button class='btn btn-danger' type="button" name="deleteUser" value="delete" rel="{{Email}}"><span></span> delete</button>
                </td>
            </tr>
            {{/Result}}
        </tbody>
    </table>
    <div class="col-md-12 text-center">
        <ul class="pagination pagination-lg pager" id="usersPager"></ul>
    </div>
</div>