@using openvpn.api.common.domain
@{
    var session = HttpContext.Current.Session["ExternalLoginModel"] as openvpn.api.core.auth.ExternalLoginModel;

}

@if (session != null)
{
    <li><img src="@session.Picture" class="profileImage img-circle" /></li>
    <li>
        <a href="@session.Profile">

            @if (!String.IsNullOrEmpty(session.Name))
            {
                <text>@session.Name</text>
            }
            else
            {
                <text>@session.Email</text>
            }
        </a>
    </li>
}