@{
    var session = HttpContext.Current.Session["ExternalLoginModel"] as openvpn.api.core.auth.ExternalLoginModel;

}

@if (session != null)
{
    <li><img src="@session.Picture" class="profileImage img-circle" /></li>
    <li><a href="@session.Profile">@session.Name</a></li>
}