@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Home";
    
}
<div class="jumbotron">
    <img src="~/Content/images/logo.png" />

    <p class="lead">OpenVPN Event Viewer offers a human readable format of the open vpn connection logs.</p>
</div>